.product-list {
  padding: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters select {
  padding: 10px;
  font-size: 1em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}